@import './css/normalize.css';
@import './css/main.css';

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
  //border: 1px solid green;
}

h3 {
  margin: 0 0 0 30px;
  //border: 1px solid red;
}

.stock-chart {
  position: relative;
  min-height: 200px;
  margin: 100px 100px 100px 100px;
  border: 1px solid red;
}