
.canvas-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;

  .resize-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;

    .stockchart-container {
      position: absolute;
      top: 0;
      right: 85px;
      bottom: 30px;
      left: 0;
    }

    .chart-canvas {
      position: absolute;
      top: 0;
      right: 0;
      user-select: none;
    }

    .yaxis-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 30px;
      width: 85px;
    }

    .yaxis-canvas {
      position: absolute;
      top: 0;
      right: 0;
      user-select: none;
    }

    .xaxis-container {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 85px;
      height: 30px;
    }

    .xaxis-canvas {
      position: absolute;
      top: 0;
      right: 0;
      user-select: none;
    }
  }
}
