
.canvas-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  // border: 1px dashed blue;

  .resize-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
    // border: 1px solid green;

    .chart-container {
      position: absolute;
      top: 0;
      right: 85px;
      bottom: 30px;
      left: 0;
      // border: 1px solid blue;      
    }

    .chart-canvas {
      position: absolute;
      top: 0;
      left: 0;
      user-select: none;
      // border: 1px solid blue;
    }

    .yaxis-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 30px;
      width: 85px;
      // border: 1px solid blue;
    }

    .yaxis-canvas {
      position: absolute;
      top: 0;
      left: 0;
      user-select: none;
    }

    .xaxis-container {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 85px;
      height: 30px;
      // border: 1px solid blue;
    }

    .xaxis-canvas {
      position: absolute;
      top: 0;
      right: 0;
      user-select: none;
    }
  }
}
